@charset "UTF-8";


@media screen and (min-width: 768px){

    .divProfileImg{
        margin-top: 70px;

        position: absolute;
        left: 1vw;
    }

    .ProfileImg{
        margin: 10px 10px 10px 0px;
    }

    #desc{
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
    }

    .Skills{
        width: 80%;
        justify-content: space-around;
        margin: auto;
    }

    .topicos{
        width: 250px;
    }
    
    .descricao{
        max-width: 400px;
    }
}